.container2 {
    margin-top: 40px;
    margin-left: 10PX;
    margin-right: 10PX;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 40px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }